.boxes{
    height: 500px;
    width: 100%;
    border: 5px solid;
    position: absolute;
    
    
}
.boxes .box {
    height: 400px;
    
}
#box1{
    border: 1px solid;
    background-color: red;
    display: inline-block;
    color: white;
    width: 500px;
    position: absolute;
    left: 10px;
    bottom:10px;  
}
#box2{
    border: 1px solid;
    background-color: rgb(60, 158, 214);
    display: inline-block;
    color: white;
    width: 500px;
    position: relative;
    top: 50px;
    left: 700px;
   
      
}